# Utilities
numpy
pandas

# Face Recognition
scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models

# Database & Authentication
supabase
bcrypt

# QR Code & Images
segno
pillow

# Web Application
streamlit

# Voice Recognition
resemblyzer
librosa